.container {
  margin-left: 15%;
  margin-right: 2em;
}

nav ul li {
  display: inline;
  margin-left: 0;
  margin-right: 1em;
}

.navLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navLink:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-bottom: 2em;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-bottom: 0.5em;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: rgb(200, 20, 20);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.littleLink {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.littleLink:hover {
  color: rgb(200, 20, 20);
}

.comment {
  background-color: rgb(228, 228, 228);
  padding: 0.5em 1em 0.2em 1em;
  border-radius: 5px;
}

.nestedComment {
  border-radius: 0px;
  border-left: 1px dashed black;
  border-top: 1px dashed black;
}

.comment ul {
  margin: 0;
}

.loading {
  font-weight: bold;
  font-size: 2em;
}
